<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<script th:src="@{/dist/js/jquery-3.4.1.min.js}" ></script>
<script th:src="@{js/commom.js}"></script>
<link rel="stylesheet" th:href="@{/dist/css/bootstrap.css}" >
<head>

</head>
<body>
<label id="text" ></label>
<script>
    var getCookie = function (name) {
        var arr;
        var reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = document.cookie.match(reg))
            return unescape(arr[2]);
        else
            return null;
    };

    $.ajax({
        type :"post",
        url :"http://localhost:8080/apis/test",
        headers:{
            token:getCookie('my_token')
        },
        data : {

        },

        success : function(result){
            if (result.msg=="ok"){
                alert(result.data)
                $("#text").text(result.data)

            }else{
                alert("登入失败，请重新登入")
            }

        },
        error : function(xhr, status, statusText) {
            if (xhr.status == 401) {
                alert("接口受保护，请你登入才行")
                location.href ="http://localhost:8080/"
            }
            coconsole.log(status +":"+statusText)
            alert("接口受保护，请你登入才行")
            location.href ="http://localhost:8080/"
        }
    })
    $("#go").click(function(){
        alert("点击了")
        $.ajax({
            type :"post",
            url :"http://localhost:8080/login",
            data : {
                "username":$("#username").val(),
                "password":$("#password").val()
            },
            success : function(result){
                if (result.msg=="ok"){
                    alert("登入成功")
                }else{
                    alert("登入失败，请重新登入")
                }

            },
            error : function(xhr, status, statusText) {
                coconsole.log(status +":"+statusText)
            }
        })
    })
    $("#register").click(function() {
        $.ajax({
            type :"post",
            url : "http://localhost:8080/regist",
            data:{
                "username":$("#username").val(),
                "password":$("#password").val()
            },
            success : function(result){
                if (result.msg=="ok"){
                    alert("注册成功")
                }else{
                    alert("注册失败，请重新注册")
                }

            },
            error : function(xhr, status, statusText) {
                coconsole.log(status +":"+statusText)
            }
        })
    });
</script>
</body>
</html>